/* Style the list */
ul.breadcrumb  {
    padding: 10px 16px;
    list-style: none;
    background-color: burlywood;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/*table*/
table {
    margin: auto;
    width: 70%;
  border-collapse: collapse;
    text-align: center;
}
table, th, td {
  border: 1px solid black;
}
td {
    margin-left: 1px;
}
tr:nth-child(even) {background-color: burlywood;}

th {
  background-color: khaki;
  color: black;
}
/*end table*/

.buttonsInTable {
    margin: auto;
    width: 90%;
    color: black;
    background: khaki;
    padding: 10px 16px;
    display: block;

}
.buttonsInTable[disabled=disabled], .buttonsInTable:disabled {
    background: darkgrey;
}
.buttons {
    margin: auto;
    width: 50%;
    color: black;
    background: khaki;
    padding: 10px 16px;
    display: block;

}

.menu {
    text-decoration-line: none ;
    text-decoration: none;
    list-style: none;
    background-color: #eee;
    border: 1px solid black;
    padding: 10px 16px 10px 16px;
    font-size: 18px;
    position: fixed;
    left: 0;
    top: 50%;
    width: 8em;
    margin-top: -2.5em;
}
a{
    text-decoration-line: none ;
}
.footer{
    text-align: right;
    vertical-align: middle;
    top: 95%;
    background-color: #eee;
    position: fixed;
    padding: 10px 16px 10px 16px;
    width:95%;
    display: inline;
    font-size: 18px;
}

h3 {
    text-align: center;
    background-color: bisque;
    font-size: 30px;
    border-style: dashed;
    font-style: italic;

}

ul.detail {
    padding: 30px 30px;
    list-style: upper-roman;
    background-color: bisque;
    border-style: dashed;

}

ul.detail li {
    display: list-item;
    font-size: 20px;
    font-weight: bold;


}

p {
    text-align: center;
    background-color: bisque;
    font-size: 30px;
    border-style: dashed;
    font-style: italic;
}

div.block {
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
    background-color: bisque;
    font-weight: bold;
    width: 50%;
    margin: 0 auto;
    padding: auto;
}

body {
    background-color: beige;
}



