<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>app/index.xhtml</welcome-file>
    </welcome-file-list>
    <default-context-path>pas</default-context-path>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

<!--    <login-config>-->
<!--        <auth-method>FORM</auth-method>-->
<!--        <form-login-config>-->
<!--            <form-login-page>login.html</form-login-page>-->
<!--            <form-error-page>error.html</form-error-page>-->
<!--        </form-login-config>-->
<!--    </login-config>-->
    
    
<!--     deklaracja rol-->
    <security-role>
        <role-name>ADMIN</role-name>
    </security-role>

<!--    ograniczenie roli-->
    <security-constraint>
<!--        zasoby które ograniczamy-->
        <web-resource-collection>
<!--            nazwa dla zbioru zasobów-->
            <web-resource-name>AdminPages</web-resource-name>
<!--            url zasobu-->
            <url-pattern>/app/*</url-pattern>
<!--            -->
        </web-resource-collection>
<!--        role które mogą korzystać z tych zasoboów-->
        <auth-constraint>
            <role-name>ADMIN</role-name>
        </auth-constraint>
<!--    finiuje   wymagania   dla transportu danych w żądaniach zasobu, opcjonalny    -->
<!--        <user-data-constraint>-->
<!-- NONE – brak wymagań ,   NTEGRAL  –  wymagana  gwarancja  integralności danych,    CONFIDENTIAL  –  wymagana  gwarancja  poufności danych =  HTTPS  -->
<!--            <transport-guarantee>CONFIDENTIAL</transport-guarantee>-->
<!--        </user-data-constraint>-->
    </security-constraint>




</web-app>